# This configuration normalizes base editor behaviors across different IDEs.
# More information at http://editorconfig.org

# Top-most EditorConfig file
root = true

[*]
# Use UTF-8 encoding for everything
charset = utf-8
# Newline ending for every file
insert_final_newline = true

# -----------------------------
#  Prettier-compatible options
# -----------------------------

# ⚠ do not use `end_of_line` - let the operating system deal with it.
# `.gitattributes` will be used to normalize end of lines instead.

# This will automatically map to Prettier's `useTabs: false` option.
indent_style = space

# This will automatically map to Prettier's `tabWidth: 2` option.
tab_width = 2

# This will automatically map to Prettier's `printWidth: 100` option.
max_line_length = 100
