.headline {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.code {
  background-color: rgb(236, 236, 236);
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
}

.inlinePick {
  margin-right: 0.5rem;
}

.inlineRoute {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
