.header {
  border-bottom: 0.0625rem solid #ccc;
  box-shadow: 0 0.3125rem 0.5rem 0 rgba(168, 168, 168, 0.5);
  padding: 2rem 1rem;
  display: flex;
}

.header > div:first-of-type {
  display: inherit;
  flex-grow: 2;
}

.header > div:first-of-type > a {
  font-size: 2rem;
  white-space: nowrap;
  margin-top: 0.3rem;
  text-decoration: none;
  color: black;
}

.main {
  margin: 2rem 1rem;
}

.nav {
  float: right;
  margin: 1rem;
}

.nav a,
.nav a:visited {
  text-decoration: none;
  color: rgb(92, 92, 92);
  font-weight: 600;
  margin: 1rem;
}

.nav a:hover {
  opacity: 0.8;
  border-bottom: #2130b6 0.2rem solid;
}
