.container {
  max-width: 1200px;
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 8px 0 rgba(168, 168, 168, 0.5);
  height: 75px;
  padding: 0 1rem;
}

.headerMessage {
  font-size: 2rem;
}